@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  /* colors */
  --clr-softred: hsl(10, 79%, 65%);
  --clr-softred-light: hsl(10, 35%, 58%);
  --clr-cyen: hsl(186, 34%, 60%);
  --clr-cyen-light: hsl(186, 34%, 60%, 0.821);
  --clr-darkbrown: hsl(25, 47%, 15%);
  --clr-mediumbrown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-verypaleorange: hsl(33, 100%, 98%);
  --clr-bar1: #065143;
  --clr-bar2: #49e9e3;
  --clr-bar3: #2a6f97;
  --clr-bar4: #155ee69f;
  --clr-bar5: #61a5c2;
  --clr-bar6: #0466c8;
  --clr-bar7: #5c677d;
  /* fonts */
  --size-font: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--clr-cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
hr {
  border: 0.01px solid var(--clr-mediumbrown);
  font-weight: lighter;
}
